@using OzTip.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <section class="ibox">
            <header class="ibox-title">
                <h5>Enter your account details</h5>
            </header>
            <div id="loginForm" class="ibox-content">
                @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new {@class = "col-md-3 control-label"})
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new {@class = "col-md-3 control-label"})
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Log in" class="btn btn-block btn-primary"/>
                        </div>
                    </div>
                }
            </div>
            <footer class="ibox-footer">
                <p>
                    @Html.ActionLink("Register as a new user", "register")
                </p>
                <p>
                    @Html.ActionLink("Forgot your password?", "forgotpassword")
                </p>
            </footer>
        </section>
    </div>
@*
    <div class="col-md-4">
        <div class="ibox">
            <section id="socialLoginForm" class="ibox-content">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}