@model OzTip.Web.Models.Competitions.CreateCompetitionViewModel

@{ 
    ViewBag.Title = "Start a competition";
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("index", "home")">Home</a>
        </li>
        <li>
            <a href="@Url.Action("index", "competitions")">Competitions</a>
        </li>
        <li class="active">
            <strong>Start a competition</strong>
        </li>
    </ol>
}


@using (Html.BeginForm("create", "competitions", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="col-xs-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Start a competition</h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <p>Enter the details for your competition.</p>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-3 col-lg-2" })
                        <div class="col-sm-9 col-lg-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "My cool competition for cool people" })
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "error text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-3 col-lg-2" })
                        <div class="col-sm-9 col-lg-10">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.IsPublic) Private competition
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group competition-password">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label col-sm-3 col-lg-2" })
                        <div class="col-sm-9 col-lg-10">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "secret01" })
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "error text-danger" })
                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-block" type="submit">Start a competition</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $.validator.setDefaults({
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                } else {
                    $(element).addClass(errorClass).removeClass(validClass);
                    $(element).removeClass('success').addClass('error');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).removeClass(errorClass).addClass(validClass);
                    $(element).removeClass('error').addClass('success');
                }
            }
        });

        $.fn.mySlideToggle = function (show, speed) {
            if (show) {
                $(this).slideDown(speed);
            }
            else {
                $(this).slideUp(speed);
            }
        }

        $(".competition-password").toggle($("#IsPublic").is(":checked"));

        $("#IsPublic").on("change", function () {
            console.log($(this).is(":checked"));
            $(".competition-password").mySlideToggle($(this).is(":checked"), 'fast');
        });
    </script>
}