@model OzTip.Models.Competition

@{
    ViewBag.Title = Model.Name;
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("index", "home")">Home</a>
        </li>
        <li>
            <a href="@Url.Action("index", "competitions")">Competitions</a>
        </li>
        <li class="active">
            <strong>@Model.Name</strong>
        </li>
    </ol>
}

@if (ViewBag.UserIsInCompetition ?? false)
{
    <div class="competition-actions">
        <a class="btn btn-primary" href="@Url.Action("place-tips", "competitions", new {id = Model.Id})"><span class="fa fa-check-square-o"></span> Place tips</a>
        <a class="btn btn-default" href="@Url.Action("invite-players", "competitions", new {id = Model.Id})"><span class="fa fa-user"></span> Invite players</a>

        @if (ViewBag.UserIsOwner ?? false)
        {
            <a class="btn btn-default" href="@Url.Action("manage-settings", "competitions", new {id = Model.Id})"><span class="fa fa-cog"></span> Manage settings</a>
            <div class="pull-right">
                <a class="btn btn-danger" href="@Url.Action("delete", "competitions", new {id = Model.Id})"><span class="fa fa-remove"></span> Delete competition</a>
            </div>
        }
    </div>
}
else
{
    <div class="competition-actions">
        <a class="btn btn-primary" href="@Url.Action("join", "competitions", new {id = Model.Id})"><span class="fa fa-check-square-o"></span> Join competition</a>
    </div>
}


<hr />

<div class="row">
    <div class="col-md-3">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Competition details</h5>
            </div>
            <div class="ibox-content">
                <div class="form">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <p class="form-control-static">
                            @Model.Name
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Number of players</label>
                        <p class="form-control-static">
                            @Model.Users.Count
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Players</h5>
            </div>
            <div class="ibox-content">
                @if (Model.Users.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Actual Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.GivenName @user.Surname</td>
                                    <td>@user.Created</td>
                                    <td>@user.Updated</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>
                        No players are enrolled in this competition. Would you like to @Html.ActionLink("invite some friends", "invite-players", "competitions", new { id = Model.Id }, null)?
                    </p>
                }
            </div>
        </div>
    </div>
</div>