@model List<OzTip.Models.Competition>

@{

    ViewBag.Title = "Competitions";

}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("index", "home")">Home</a>
        </li>
        <li class="active">
            <strong>Competitions</strong>
        </li>
    </ol>
}

<div class="ibox">
    <div class="ibox-title">
        <h5>Your competitions</h5>
    </div>
    <div class="ibox-content">

        @if (Model.Any())
        {
            <a href="@Url.Action("create", "competitions")" class="btn btn-primary"><span class="fa fa-plus-circle"></span> Start a competition</a>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Private?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var comp in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(comp.Name, "details", "competitions", new { id = comp.Id }, null)</td>
                            <td>@Html.ActionLink(comp.Owner.UserName, "details", "users", new { id = comp.Owner.Id }, null)</td>
                            <td>@comp.Created</td>
                            <td>@comp.Updated</td>
                            <td><span class="@(comp.IsPrivate ? "fa fa-lock" : "")"></span></td>
                            <td><a href="@Url.Action("delete", "competitions", new {id = comp.Id})" class="btn btn-danger btn-xs"><span class="fa fa-remove"></span> Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1>No competitions</h1>
            <p>
                You are not currently playing in any competitions. Would you like to
                @Html.ActionLink("start one", "create", "competitions") or browse for
                a public competition to join?
            </p>
        }
    </div>
</div>