@model OzTip.Web.Models.Search.SearchResultsViewModel

@{
    ViewBag.Title = "Search results";
}

@section headerContent
{
    <p>You searched for: <strong>@Model.SearchString</strong></p>
}

@if (Model.Competitions.Any())
{
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Search results</h5>
                </div>
                <div class="ibox-content">
                    <p>@Model.Competitions.Count competition(s) found:</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>No. of players</th>
                            <th>Private?</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var competition in Model.Competitions)
                        {
                            <tr>
                                <td>@Html.ActionLink(competition.Name, "details", "competitions", new {id = competition.Id}, null)</td>
                                <td>@competition.Owner.UserName</td>
                                <td>@competition.Users.Count</td>
                                <td><span class="fa @(competition.IsPrivate ? " fa-lock " : "" )"></span></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    </div>
    
}
else
{
    <div class="jumbotron text-center">
        <h1>No results found.</h1>
    </div>
}